body {
min-width:1536px; 
min-height:2048px; 
background-image:url('../images/subtractitemsbackground.png'); 
margin:0; 
margin-top:1px; 
padding:0;
}
.additemsPage {
min-width:1536px;
min-height:2048px;
background-image:url('../images/additemsbackground.png');
margin:0;
margin-top:1px;
padding:0;
}
